.castList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  
  .castItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 2 * 24px) / 3);
  }
  
  .actorName {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }